<section class="login">
    <div class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Create your account
                </h1>
                <form action="/register" method="post" class="space-y-4 md:space-y-6" action="#">
                    <% if(messages.error) { %>
                        <span class="text-red-500 text-sm"><%= messages.error %></span>
                    <% } %>
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Your Name</label>
                        <input name="name" type="text" id="name" value="<%= messages.name %>" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter your name">
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                        <input name="email" type="email" id="email" value="<%= messages.email %>" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter your email">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input name="password" type="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit" class="btn-primary rounded-full text-white font-bold focus:ring-4 focus:outline-none px-5 py-2.5 text-center">Register</button>
                        <span class="text-sm font-bold align-baseline ">Already have an account? <a href="/login" class="inline-block">Login</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>